<%- model_class = Article -%>
<%= render :partial => 'header' %>
<% @articles.each do |article|%>
 <div class="row">
  <div class="span9"><h3><%=link_to article.title, article_path(article) %></h3></div>
  <div class="span3"><h4><br/><%=l article.publish_date, :format=> :long %></h4></div>
  <div class="span8"><b>Author:</b> <%=  article.user.name %> &nbsp;&nbsp; <b>Read:</b> <%= article.read_count %></div>
</div>

<div class="row">
  <div class="span4"><b>Categories:</b>
    <% article.categories.each do |category| %>
      <%= category.name %>
    <% end %>
  </div>
</div>
<br/>

<!--Use simple_format to render line breaks -->
<%=simple_format(article.body, {}, :sanitize => false)%>

<% if current_user && (current_user.has_role?(:admin) || current_user.id  == article.user_id) %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),edit_article_path(article), :class => 'btn btn-mini' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
      article_path(article),
      :method => :delete,
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-mini btn-danger' %>
<% end %>
</br></br>

<!-- Display Comments-->
<div class="row">
  <div class="span8"><b>Comments: </b> <%= article.comments.count %></div>
  </br></br>
  <% article.comments.each do |comment|%>
    <div class="well">
      <div class="span8"><%= link_to comment.user.name, edit_user_registration_path %><%=' says...'%></div>
      <p class="text-muted"><%= comment.root? ? "Started by" : "Replied by" %> <strong><%= comment.user.name %></strong> on
        <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

      <blockquote>
        <p><%= comment.comment %></p>
      </blockquote>

      <% from_reply_form ||= nil %>
      <% unless from_reply_form %>
        <% if comment.leaf? %>
          <small class="text-muted">There are no replies yet - be the first one to reply!</small>
        <% end %>
        <p><%= link_to 'reply', new_comment_path(comment.id) %></p>
      <% end %>
    </div>
    <%#= comments_tree_for comment %>
    <!-- <div class="span8"><%= link_to comment.user.name, edit_user_registration_path %><%=' says...'%></div>
    <div class="span2"><%= l comment.comment_date, :format=> :long %></div>
    <% if user_signed_in? %>
      <%if current_user.name.eql? comment.user.name %>
        <div class="span2">
          <%= link_to "Delete Comment", comment, :confirm => "Are you sre you want to delete this comment?", :method => :delete %>
        </div> 
      <%end%>
    <%end%>
    </br>
    <div class="span8"><%= comment.comment %></div></br></br></br> -->
  <%end%>
  <hr>
</div>
</br>
  <!-- Form for comment -->
  <% if user_signed_in? %>
    <%= simple_form_for @comment do |f| %>
      <div class="row"><div class="span8"><%= f.input :article_id ,:as=> :hidden, :input_html => {:value => article.id} %></div></div>
      <div class="row"><div class="span8"><%= f.input :comment, label:'Add Comment' %></div></div>
      <%= f.button :submit, "Add Comment",:class => 'btn-primary' %>
    <% end %>
    <hr />     
  <% end %>
<% end %>


